### 1. –ü—Ä–µ–¥—Å—Ç–∞–≤—å—Ç–µ –≤ –≤–∏–¥–µ –Ω–µ—Å–æ–∫—Ä–∞—Ç–∏–º–æ–π —Ä–∞—Ü–∏–æ–Ω–∞–ª—å–Ω–æ–π –¥—Ä–æ–±–∏: ###

a)
$$ a = 0.(216)$$\
$$1000a = 216 + 0.(216)$$\
$$999a = 216$$\
$$ a = \frac{216}{999} $$

b)
$$ b = 1.0(01) $$ \
$$ 10b = 1.0 + 0.(01) $$\
$$ c = 0.(01)$$\
$$ 100c = 1 + 0.(01) $$\
$$ 99c = 1 $$\
$$ c = \frac{1}{99} $$\
$$ 10b = 1 + \frac{1}{99} $$\
$$ b = \frac{1}{10} + \frac{1}{990} = \frac{99}{990} + \frac{1}{990} = \frac{100}{990} = \frac{10}{99}$$

### 2. –ü—Ä–æ–≤–µ—Ä—å—Ç–µ –ª—é–±—ã–º —Å–ø–æ—Å–æ–±–æ–º, —è–≤–ª—è—é—Ç—Å—è –ª–∏ –¥–∞–Ω–Ω—ã–µ –ª–æ–≥–∏—á–µ—Å–∫–∏–µ —Ñ–æ—Ä–º—É–ª—ã —Ç–∞–≤—Ç–æ–ª–æ–≥–∏–µ–π: ###

a)
$$ (A \vee B) \to (B \vee \neg A) $$

In [1]:
import pandas as pd

In [2]:
col = ['A', 'B', '(ùê¥‚à®ùêµ)', 'ùê¥ÃÖ', '(B ‚à® AÃÖ)', 'F']
a = [
    [0, 0, 0, 1, 1, 1],
    [0, 1, 1, 1, 1, 1],
    [1, 0, 1, 0, 0, 0],
    [1, 1, 1, 0, 1, 1],
]
df = pd.DataFrame(a, columns=col)
df

   A  B  (ùê¥‚à®ùêµ)  ùê¥ÃÖ  (B ‚à® AÃÖ)  F
0  0  0      0   1         1  1
1  0  1      1   1         1  1
2  1  0      1   0         0  0
3  1  1      1   0         1  1

–í—ã—Ä–∞–∂–µ–Ω–∏–µ $$ (A \vee B) \to (B \vee \neg A) $$ –Ω–µ —è–≤–ª—è–µ—Ç—Å—è —Ç–∞–≤—Ç–æ–ª–æ–≥–∏–µ–π, —Ç–∞–∫ –∫–∞–∫ –ø—Ä–∏ A = 1 , B = 0, –ø—Ä–∏–Ω–∏–º–∞–µ—Ç –∑–Ω–∞—á–µ–Ω–∏–µ 0

–±) $$ A \to (A \vee (\neg B \wedge A)) $$

In [3]:
col = ['A', 'B', '$$\neg B$$', '$$(\neg B \wedge A)$$', '$$(ùê¥‚à®(¬¨ùêµ‚àßùê¥))$$', 'F']
a = [
    [0, 0, 1, 0, 0, 1],
    [0, 1, 0, 0, 0, 1],
    [1, 0, 1, 1, 1, 1],
    [1, 1, 0, 0, 1, 1],
]
df = pd.DataFrame(a, columns=col)
df

   A  B  $$\neg B$$  $$(\neg B \wedge A)$$  $$(ùê¥‚à®(¬¨ùêµ‚àßùê¥))$$  F
0  0  0           1                      0               0  1
1  0  1           0                      0               0  1
2  1  0           1                      1               1  1
3  1  1           0                      0               1  1

–í—ã—Ä–∞–∂–µ–Ω–∏–µ $$ A \to (A \vee (\neg B \wedge A)) $$ —è–≤–ª—è–µ—Ç—Å—è —Ç–∞–≤—Ç–æ–ª–æ–≥–∏–µ–π, —Ç–∞–∫ –∫–∞–∫ –ø—Ä–∏ –ª—é–±—ã—Ö –æ—Ü–µ–Ω–∫–∞—Ö –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö –ø—Ä–∏–Ω–∏–º–∞–µ—Ç –∏—Å—Ç–∏–Ω–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ.

### 3. –°—Ñ–æ—Ä–º—É–ª–∏—Ä—É–π—Ç–µ —Å–ª–æ–≤–µ—Å–Ω–æ –≤—ã—Å–∫–∞–∑—ã–≤–∞–Ω–∏—è: ###
–≥–¥–µ –ê: —Å–µ–≥–æ–¥–Ω—è —Å–≤–µ—Ç–∏—Ç —Å–æ–ª–Ω—Ü–µ; –í: —Å–µ–≥–æ–¥–Ω—è —Å—ã—Ä–æ; –°: —è –ø–æ–µ–¥—É –Ω–∞ –¥–∞—á—É.

a) $$ (\neg A \vee B) \to \neg C$$

–ï—Å–ª–∏ —Å–µ–≥–æ–¥–Ω—è –ù–ï —Å–≤–µ—Ç–∏—Ç —Å–æ–ª–Ω—Ü–µ –∏–ª–∏ —Å–µ–≥–æ–¥–Ω—è —Å—ã—Ä–æ, —Ç–æ —è –ù–ï –ø–æ–µ–¥—É –Ω–∞ –¥–∞—á—É

–±) $$ C \to (A \vee \neg B)$$

–Ø –ø–æ–µ–¥—É –Ω–∞ –¥–∞—á—É, –µ—Å–ª–∏ —Å–µ–≥–æ–¥–Ω—è —Å–≤–µ—Ç–∏—Ç —Å–æ–ª–Ω—Ü–µ –∏–ª–∏ —Å–µ–≥–æ–¥–Ω—è –ù–ï —Å—ã—Ä–æ.